<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="home.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <form action='/predict' method="post" class="max-lg:mt-16">
        <label for="devType" class="block text-gray-700 text-sm font-bold mb-2">Device Type</label>
        <select name="devType" id="devType" class="w-full p-2 border border-gray-700 shadow-sm mb-4">
            <option value="laptop">Laptop</option>
            <option value="mobile">Mobile</option>
            <!-- <option value="television">Television</option> -->
          </select> 
          <label for="screenSize" class="block text-gray-700 text-sm font-bold mb-2">Screen Size</label>
          <select name="screenSize" id="screenSize" class="w-full p-2 border border-gray-700 shadow-sm mb-4">
              <option value="5">5.5' - 6.5'</option>
              <option value="10">10' - 12'</option>
              <option value="13">13.4' - 17'</option>
            </select>
            <label for="capacity" class="block text-gray-700 text-sm font-bold mb-2">Battery</label> 
            <select name="capacity" id="capacity" class="w-full p-2 border border-gray-700 shadow-sm mb-4">
                <option value="5">3,000 mAh to 5,000 mAh</option>
                <option value="10">6,000 mAh to 10,000 mAh </option>
                <option value="13">2,000 mAh to 30,000 mAh</option>
              </select>
<!--  
          <label for="companyName" class="block text-gray-700 text-sm font-bold mb-2">Company Name</label>
          <input placeholder="Company Name" type="text"  class=" text-sm text-gray-base w-full mr-3 py-5 px-4 h-2 border border-gray-700 mb-2"> -->

        <label for="" class="block text-gray-700 text-sm font-bold mb-2">Weight</label>
        <input placeholder="Weight (Grams)" name="tip" id="first" type="float" step="0.1" class="validate text-sm text-gray-base w-full mr-3 py-5 px-4 h-2 border border-gray-700 mb-2">
    </form>
    <button class='bg-black text-white rounded-md font-bold text-xl px-8 py-4 mt-10' onClick={getCurrentLocation}>Check Your Score</button>
</body>
</html>